/*自定义样式*/
.theme-default-content
  code
    background-color: #fff5f5;
    color: #ff502c;
.customer-page-class
  color: #fb3;
  background-color: #333;
.navbar
  box-shadow: 0 2px 5px rgba(0,0,0,0.1)
.theme-bg
  padding: 10px 20px;
  background-color: #282c34;
  color: #fb3;
  border-radius: 5px;
#app
  overflow hidden;

  .home-blog .home-blog-wrapper .info-wrapper .category-wrapper .category-item
    /* border-top-right-radius: 0.25rem; */
    /* border-top-left-radius: 0.25rem; */
    /* margin: 10px 0; */
    border: 0;
    margin-bottom: .4rem;
    padding: .4rem .8rem;
    transition: all .5s;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);

